# Ambiente virtual Python
.venv/
venv/
ENV/
env/

# Arquivos de ambiente
.env
.env.local

# Arquitetura __pycache__
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários e logs
*.log

# Mac OS
.DS_Store
